.emailContainer {
  margin-bottom: 1rem;
  width: 50%;
  margin-left: auto;
  margin-right: auto;
}

.emailControl {
  font-size: 1.4rem;
  width: 100%;
  padding: 0.5rem 1rem;
}

.signUpButton {
  margin-bottom: 0.25rem;
  margin-inline-start: 0;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  border-radius: 0.25rem;
  border-width: 1px;
  border-color: transparent;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  padding-left: 0.75rem;
  padding-right: 0.75rem;
  transition-property: all;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms;
  cursor: pointer;
  background-color: rgb(38, 191, 148);
  font-weight: bold;
  min-width: 16rem;
  font-size: 1.4rem;
}

@media screen and (max-width: 996px) {
  .emailContainer {
    width: 90%;
  }
}

.signUpSection {
  border-top: solid 1px #78498f;
  padding-top: 2rem;
  margin-top: 4rem;
  display: block;
  margin-bottom: 2rem;
  text-align: center;
}
